@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* ## Colors */

    /* ### Primary */

    --Purple: hsl(259, 100%, 65%);
    --light-red: hsl(0, 100%, 67%);

    /* ### Neutral */

    --white: hsl(0, 0%, 100%);
    --Off-white: hsl(0, 0%, 94%);
    --light-grey: hsl(0, 0%, 86%);
    --smokey-grey: hsl(0, 1%, 44%);
    --Off-black: hsl(0, 0%, 8%);

    --font-size: 32px;
    --font: "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font);
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--light-grey);
}

.contant {
    width: 90%;
    max-width: 650px;
    background-color: var(--white);
    padding: 20px;
    border-radius: 20px 20px 80px 20px;
    margin-bottom: 20px;
}

.form {
    display: flex;
    gap: 10px;
}

.form .error  label {
    color: var(--light-red);
}

.form .error  input {
    border-color: var(--light-red);
}

.form .error.active small {
    color: var(--light-red);
    font-style: italic;
    font-size: .7em;
    font-weight: 500;
    visibility: visible;
}

.form div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form div label {
    text-transform: uppercase;
    font-size: .7em;
    font-weight: 700;
    color: var(--smokey-grey);
    letter-spacing: 2px;
}

.form div input {
    width: 100%;
    max-width: 130px;
    padding: 8px 13px;
    border-radius: 8px;
    border: 1px solid var(--light-grey);
    outline: none;
    font-size: 1.2em;
    font-weight: 800;
    color: var(--Off-black);
    letter-spacing: 1px;
    cursor: pointer;
}

.form div small {
    visibility: hidden;
}

.form div input:valid,
.form div input:focus {
    border: 1px solid var(--Purple);
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

.form div input::placeholder {
    font-weight: bold;
    text-align: left;
    color: var(--smokey-grey);
}

.separetade {
    position: relative;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.separetade .circle-icon {
    width: 65px;
    height: 65px;
    background: var(--Purple);
    border-radius: 50%;
    padding: 15px;
    position: absolute;
    border: none;
    cursor: pointer;
    transition: all ease-in-out .5s ;
}

.separetade .circle-icon:hover {
    background: var(--Off-black);
}

.separetade .icon {
    width: 100%;
    height: 100%;
    background: url(../assets/images/icon-arrow.svg) no-repeat center / cover;
}

.separetade .line {
    width: 100%;
    height: 1px;
    background: var(--light-grey);
}

.footer div {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: left;
    font-size: 1.7em;
    font-style: italic;
    font-weight: bold;
}

.footer div .number {
    color: var(--Purple);
    font-size: 62px;
}

@media screen and (min-width: 768px) {
    .contant {
        padding: 40px;
    }
    
    .form {
        gap: 20px;
    }

    .form div label {
        font-size: .8em;
    }

    .form div input {
        padding: 10px 15px;
        font-size: 1.2em;
        letter-spacing: 1px;
    }

    .separetade {
        justify-content: right;
    }

    .separetade .circle-icon {
        width: 75px;
        height: 75px;
    }

    .footer div {
        font-size: 42px;
    }

    .footer div .number {
        font-size: 82px;
    }
}